#ambev-foto-detalhes {
    background-image: url("detalhes/ambev.jpeg");
}
#eve-foto-detalhes {
    background-image: url("detalhes/eve.jpeg");
}
#ez-volt-foto-detalhes {
    background-image: url("detalhes/ez_volt.jpeg");
}
#my-view-foto-detalhes {
    background-image: url("detalhes/my_view.jpeg");
}
#whoosh-foto-detalhes {
    background-image: url("detalhes/whoosh.jpg");
}
#deliverydasfavelas-foto-detalhes {
    background-image: url("detalhes/deliverydasfavelas.jpg");
}
