footer {
    background-color: #fff;
    font-family: optima, verdana;
    color: #9E72B0;
    box-sizing: border-box;
    padding-top: 0; /* Espaçamento interno para o footer */
    padding-bottom: 0;
    position: relative; 
}

.itens-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0vh 30vw;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0.6em 0;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 970px) {
    .itens-footer {
        margin: 0.2em 2em;
        font-size: 0.7em;
    }
}
