header {
    display: flex;
    background-color: #fff;
    font-family: Franklin Gothic, Arial;
    font-size: 15px;
    color: #9E72B0;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    text-transform: uppercase;
    align-items: flex-end;
    justify-content: space-between;
	
	
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
  z-index: 1000; /* Certifique-se de que o header fique acima de outros elementos */
}

html {
    scroll-behavior: smooth;
}

.navegacao-externa {
    position: absolute;
    top: -70px;
    z-index: 1000;
}

nav {
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {
    padding: 1em;
    letter-spacing: 1px;
    min-width: fit-content;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: #9262a5; /* Cor padrão do link */
}

header img {
    padding-bottom: 1em;
    padding-left: 2em;
    max-height: 30px;
}

#menu-hamburger {
    visibility: hidden;
}

.dropdown-content {
    display: none;
	
}

.dropdown:hover .dropdown-content {
    background: #9E72B0;
    opacity: 1;
    top: 70px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    border-radius: 8px;
	background: #9262a5;
}

.dropdown-content a {
    padding: 1em;
    color: #fff; /* Cor dos links no dropdown */
	border-radius: 10px;
}

.dropdown-content a:hover {
    background: #9262a5; /* Cor ao passar o mouse no dropdown */
	border-radius: 10px;
}

@media (max-width: 1150px) {
    nav ul {
        visibility: hidden;
        display: block;
        left: 0;
        position: absolute;
        top: 70px;
        z-index: 100;
        height: 0;
        width: 100vw;
        background: #fff;
        border-radius: 10px;
        transition: 0.2s;
		opacity:0.9;
    }

    nav li {
        height: 40px;
        margin: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
	nav a {
		font-weight: 600; font-size:20px
	}

    .active {
        height: calc(100vh - 70px);
        visibility: visible;
    }

    nav ul {
        height: calc(100vh - 70px);
    }

    #menu-hamburger {
        visibility: visible;
        border: none;
        align-self: center;
        background: none;
        height: 65px;
        width: 50px;
    }

    #menu-hamburger span {
        height: 5px;
        background: white;
        width: 100%;
        display: block;
        margin: 3px;
        box-sizing: border-box;
        cursor: pointer;
		background-color: #9E72B0;
		border-radius:5px;
    }
	.dropdown-content {
        display: none !important; /* Evita exibição automática do submenu */
    }
	.dropdown:hover .dropdown-content {
        display: none !important; /* Garante que o hover não funcione */
    }
	header img {
	padding-bottom: 1.2em;
	}
}
