#noticias-publicacoes {
    background-color: #ededed; 
    color: #fff; 
    padding: 2em 0; 
    text-align: center;
}

#noticias-publicacoes h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: #fff; /* Título em branco */
}

.itens-publicacoes {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Para ajustar em telas menores */
}

.item {
    background-color: #fff; /* Fundo branco para contraste */
    color: #333; /* Cor do texto para legibilidade */
    border: 1px solid #ddd;
    padding: 1em;
    width: 23%; /* Quatro itens lado a lado
